@charset "utf-8";
@import url("base.css");

/* skip navi */
#skip {position:relative;z-index:9999;width:100%;font-size:0;line-height:0;}
#skip ul li {position:absolute;top:0px;left:45%;}
#skip ul li a {position:absolute;top:0;left:45%;font-size:0;line-height:0;}
#skip ul li a:focus,
#skip ul li a.selected {position:absolute;top:0;left:45%;font-size:14px;color:#000000;background:#fff;border:2px solid #407CD5;padding:1em 0;width:300px;text-align:center;}

/* layout */
#wrap {position:relative;width:100%;}
#header {position:relative;width:100%;border-bottom:1px solid #d0cfcb;}

@media all and (max-width:280px) {
    #header .header_inside .ev.m {height:auto;padding:10px 5px 5px 50px;line-height:1.6em;text-align:left;text-indent:-45px;}
}

.util {position:absolute;left:0px;top:0;width:100%;background:#4f6280;height:50px;}
.util .utilin {position:relative;max-width:1500px;margin:0 auto;}
.util .utilin .ev.pc {float:left;display:inline-block;color:#fff;font-size:14px;line-height:50px;box-sizing:border-box;}
.util .utilin .ev.pc img {vertical-align: middle;}
.util .utilin .utilWrap {float:right;display:inline-block;}
.util .utilin .utilWrap > li {position:relative;float:left;color:#fff;line-height:50px;}
.util .utilin .utilWrap > li a {display:block;padding:0 15px;color:#fff;font-size:16px;}
.util .utilin .utilWrap > li + li + li {position:relative;}
.util .utilin .utilWrap > li:before, .util .utilin .utilWrap > li:nth-child(6):after {content:"";display:block;position:absolute;top:0;width:1px;height:50px;background:#8c9bb3;}
.util .utilin .utilWrap > li:before {left:0;}
.util .utilin .utilWrap > li:first-child:before {display:none;}
.util .utilin .utilWrap > li:nth-child(2):before {top:19px;height:13px;}
.util .utilin .utilWrap > li:nth-child(6):after {right:0;}
.util .utilin .utilWrap > li span {font-size:16px;color:inherit;}
.util .utilin .utilWrap > li span:after {content:"";display:inline-block;width:13px;height:8px;margin-left:5px;background:url() no-repeat 0 0;vertical-align:middle;}
.util .utilin .utilWrap > li a[name="active"] span:after {margin-top:-4px;background-position:0 -8px;}
.util .utilin .utilWrap > li .nation li a {color:#4f6280;line-height:50px;vertical-align:top;}
.util .utilin .sns {display:none;}

.nation {position:absolute;top:50px;left:0;z-index:12;width:100%;border:1px solid #8191aa;overflow:hidden}
.nation li {border-top:1px dotted #8191aa;background:#fff;text-align:center;}
.nation li:first-child {border-top:none;}

@media all and (max-width:1500px) {
    .util .utilin .ev.pc {margin-left:10px;}
}

@media all and (max-width:1200px) {
    body.reset {position:fixed;overflow-y:hidden; overflow:hidden;width:100%;height:100%}
    
    #header.on:before {content:"";display:block;width:100%;height:100%;position:fixed;top:0;left:0;background:#000;opacity:0.5;z-index:10}
    #header .util {display:none;}
    #header.on .util {display:block;}

    .util {position:inherit;z-index:100;height:auto;background:none;display:none;}
    .util .utilin {width:100%;margin:0;}
    .util .utilin .ev.pc {display:none;}
    .util .utilin .utilWrap {position:fixed;top:0;left:0;z-index:12;float:none;width:86%;height:50px;border-bottom:1px solid #aac7d0;background:#fff;box-sizing:border-box;}
    .util .utilin .utilWrap > li:nth-child(4)::before, .util .utilin .utilWrap > li:nth-child(5)::before {top:19px;height:13px;}
    .util .utilin .utilWrap > li.pc {display:none;}
    .util .utilin .utilWrap > li.m {display:block !important;float:right;}
    .util .utilin .utilWrap > li.m:before {display:none;}
    .util .utilin .utilWrap > li span {font-size:12px;}
    .util .utilin .utilWrap > li span:after {width:10px;height:6px;background:url() no-repeat 0 0;}
    .util .utilin .utilWrap > li a[name="active"] span:after {background-position:0 -6px;}
    .util .utilin .utilWrap > li a {padding:0 10px;color:#293233;font-size:14px;line-height:49px;}
    .util .utilin .utilWrap > li .nation {top:50px;border:0;background:#fff;}
    .util .utilin .utilWrap > li .nation li a {line-height:2rem;}    
    .util .utilin .utilWrap > li a.close_m {position:relative;width:29px;height:0;padding-top:50px;background:#4f6280;overflow:hidden;}
    .util .utilin .utilWrap > li a.close_m:before {content:"";position:absolute;top:50%;left:50%;display:block;width:11px;height:11px;background:url() -422px 0 no-repeat;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
    
    .util .utilin .sns {position:fixed;bottom:0;left:0;right:0;z-index:12;display:flex;justify-content:center;width:86%;padding:22px 20px 21px;border-top:1px solid #d1dce0;box-sizing:border-box;-webkit-box-sizing:border-box;}
    .util .utilin .sns li {float:left;padding:0 10px 0 0;}
    .util .utilin .sns li:first-child:before {display:none;}
    .util .utilin .sns li + li:before {display:inline-block;}
    .util .utilin .sns li + li + li:before {display:inline-block;}
    .util .utilin .sns li > a {display:inline-block;vertical-align:top;}
    .util .utilin .sns li > a.btn {padding:0;background:#fff;font-size:13px;color:#616363;}
    .util .utilin .sns li a {width:27px;height:0;padding-top:27px;overflow:hidden;background-image:url();background-repeat:no-repeat;background-position:0 -130px;}

    .util .utilin .sns li + li a {background-position:-30px -130px;}
    .util .utilin .sns li + li + li a {background-position:-60px -130px;}
    .util .utilin .sns li + li + li + li a {background-position:-90px -130px;}
    .util .utilin .sns li + li + li + li + li a {background-position:-120px -130px;}
    .util .utilin .sns li + li + li + li + li + li a {background-position:-150px -130px;}
}

@media all and (max-width:480px) {
    .util .utilin .utilWrap > li a.close_m {width:23px;}
    .util .utilin .utilWrap > li a {padding:0 7px;font-size:12px;}
    .util .utilin {text-align:center;}
}
@media all and (max-width:360px) {
    .util .utilin .utilWrap, .util .utilin .sns {width:calc(100% - 40px);}
}

@media all and (max-width:320px) {
    .util .utilin .utilWrap, .util .utilin .sns {width:100%;}
    .util .utilin .utilWrap > li a {padding:0 5px;font-size:11px;}
}

#header .header_inside{padding-top:50px;}
#incTop1 {max-width:1500px;margin:0px auto;height:85px;line-height:85px;}
h1.logo {float:left;display:inline-block;max-width:14.53%;width:203px;height:41px;margin-top:27px;}
h1.logo a {display:block;width:100%;height:100%;background:url(./image/logo.png) 0 0 no-repeat;background-size:contain;}
.mois {float:left;display:inline-block;width:15%;max-width:180px;height:41px;margin-left:20px;margin-top:33px;line-height:1em;} 
.mois a {display:inline-block;width:108px;height:29px;background:url(./image/newdill.png) 0 0 no-repeat;background-size:contain;}
h1.logo::after, .mois::after, #incTop2::after {content:"";clear:both;display:table;}

@media all and (max-width:1500px) {
    h1.logo {margin-left:10px;}
}
@media all and (max-width:1440px) {
    .mois {width:10%;}
}
@media all and (max-width:1200px) {
    #header .header_inside {position:relative;width:100%;padding-top:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
    #header .header_inside.main {background:url() no-repeat;background-position:right bottom;}
    #header .header_inside .ev.m {display:block !important;height:38px;background-color:#4f6280;color:#fff;font-size:12px;letter-spacing:-0.6pt;line-height:38px;text-align:center;}
    h1.logo {position:absolute;top:50%;left:50%;float:none;width:198px;max-width:100%;height:42px;transform:translate(-50%, -50%);padding:0;margin:0;}
    h1.logo a {background:url() 0 0 no-repeat;background-size:contain;}
    
    .mois {display:none;}

    #incTop1 {position:relative;height:76px;padding:0;background:none;}
    #incTop1.bg {background:none;}
    #incTop1 .m_menu {position:relative;float:left;display:inline-block !important;margin-left:10px;}
    #incTop1 .m_menu a {position:relative;display:block;width:30px;height:0;margin-top:26px;padding-top:20px;border-top:2px solid #111;border-bottom:2px solid #111;overflow:hidden;}
    #incTop1 .m_menu a:before {content:'';position:absolute;top:50%;left:0;display:block;width:100%;height:2px;margin-top:-1px;background:#111;}
}
@media all and (max-width:768px) {
}
@media all and (max-width:360px) {
    h1.logo {width:54.7222vw;max-width:initial;height:11.1111vw;}
}
@media all and (max-width:280px) {
    #header .header_inside .ev.m {height:auto;padding:10px 5px 5px 50px;line-height:1.6em;text-align:left;text-indent:-45px;}
}

/* 메뉴수정 main menu + submenu */
#incTop2 {float:left;display:inline-block;width:50.46%;max-width:757px;min-width:680px;height:85px;margin-left:20px;}
#mainmenu {display:inline-block;width:100%;height:85px;}
#gnb {width:100%;height:inherit;overflow:hidden;}
#gnb > li {float:left;width:initial;height:inherit;}
#gnb > li:first-child, #gnb > li:nth-child(2), #gnb > li:nth-child(4), #gnb > li:nth-child(5), #gnb > li:nth-child(6) {width:13.60%;max-width:104px;}
#gnb > li:nth-child(3) {width:14.66%;max-width:111px;}
#gnb > li:nth-child(7) {width:16.11%;max-width:122px;}

#gnb > li > a {position:relative;display:block;padding:40px 0 26px;color:#3b3b3b;font-family:'Noto Sans KR';font-size:21px;font-weight:500;line-height:1em;text-align:center;letter-spacing:-1px;box-sizing:border-box;}
#gnb > li > a:hover, #gnb > li.on > a {color:#46679f;text-decoration:none;}
#gnb > li.on > a:after{content:"";position:absolute;bottom:0;left:16px;display:block;width:calc(100% - 31px);height:5px;background:#4f6280;}
#gnb > li .submenu_box {position:absolute;top:135px;left:0;z-index:21;overflow:hidden;width:100%;padding:40px 0;border-top:1px solid #9ba5b5;border-bottom:1px solid #9ba5b5;background:#e7f0f9;box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.12);-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.12);-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.12);}
#gnb > li .submenu_box > ul {position:relative;max-width:1500px;height:100%;margin:0 auto;}
#gnb > li .submenu_box > ul > li {float:left;position:relative;width:18.5%;padding-left:30px;color:#555;text-align:left;border-left:1px solid #d9d9d9; letter-spacing:-1px;box-sizing:border-box; -webkit-box-sizing:border-box;min-height:100px;}
#gnb > li #twodepth02 > ul > li { width:16%}
#gnb > li #twodepth05 > ul > li { width:19%}
#gnb > li .submenu_box > ul > li:first-child {padding-left:0;border-left:0;}
#gnb > li:first-child .submenu_box > ul > li {width:16%}
#gnb > li .submenu_box > ul > li em {display:inline-block;width:12px;height:0;padding-top:12px;margin-left:10px;margin-bottom:0;overflow:hidden;background:url() -10px -50px no-repeat;}
#gnb > li .submenu_box > ul > li > a {display:block;color:#2d4264;font-size:20px;font-weight:500;font-family:'Noto Sans KR';line-height:1em;}
#gnb > li .submenu_box > ul > li > a:hover {color:#2a67b3; text-decoration:none; }
#gnb > li .submenu_box > ul > li li {position:relative;margin-top:18px;padding-left:10px;line-height:1em;}
#gnb > li .submenu_box > ul > li li:first-child {margin-top:33px;}
#gnb > li .submenu_box > ul > li li:before {content:"";position:absolute;top:50%;left:0;display:inline-block;width:4px;height:7px;margin-top:-3px;background:url() no-repeat 0 -50px;}

#twodepth03 li, #twodepth04 li {min-height:50px !important;margin-bottom:20px;}
#twodepth03 li:nth-child(6), #twodepth04 li:nth-child(6) {padding-left:0 !important;border-left:0 none !important;}

@media all and (max-width:1500px) {
    #gnb > li .submenu_box {padding-left:10px;}
}

@media all and (max-width:1240px) {
	#incTop2{margin-left:0;}
}

@media all and (max-width:1200px) {
    #incTop2 {display:none;position:fixed;top:50px;left:0;width:86%;max-width:100%;min-width:0;height:100%;background:#fff;z-index:15;}
    #header.on #incTop2 {display:block;}

    #mainmenu {height:auto;}
    #gnb {background:none}
    #gnb > li {float:none;width:40% !important;max-width:100% !important;text-align:left;font-size:15px;line-height:18px;}
    #gnb > li > a {padding:12px 15px;background:#4f6280;border-bottom:1px solid #9ba5b5;color:#fff;font-size:17px;text-align:left;}
    #gnb > li > a:after {content:"";float:right;display:inline-block;margin-top:4px;width:7px;height:7px;border-top:2px solid #fff;border-right:2px solid #fff;vertical-align:middle;transform:rotate(45deg); -webkit-transform:rotate(45deg)}
    #gnb > li > a:hover, #gnb > li > a:active, #gnb > li.on > a {background:#e7f0f9;color:#293233;}
    #gnb > li > a:hover:after, #gnb > li > a:active:after, #gnb > li.on > a:after {border-color:#2b728a}
    #gnb > li.on > a:after {position:relative;left:auto;width:7px;height:7px;border-bottom:none;border-left:none;background:#e7f0f9;}
    
    #gnb > li .submenu_box.m_sub {display:block !important}
    #gnb > li .submenu_box {top:0;left:40%;bottom:120px;padding:0 9px;margin-bottom:0;width:60%;overflow:hidden;overflow-y:scroll;border:0;background:#e7f0f9 !important;box-shadow:none;box-sizing:border-box;-webkit-box-sizing:border-box;}
    #gnb > li .submenu_box > ul {width:100%;padding:0 5px;box-sizing:border-box; -webkit-box-sizing:border-box;}
    #gnb > li .submenu_box > ul > li {float:none;width:100% !important;padding:12px 0;border-top:1px solid #bccdd3;border-left:0;min-height:auto;}
    #gnb > li .submenu_box > ul > li:first-child {border-top:0 none;}
    #gnb > li#onedepth01 .submenu_box > ul > li {width:100%}
    #gnb > li .submenu_box > ul > li > a {padding:12px 0;font-size:17px;}
    #gnb > li .submenu_box > ul > li li {margin-top:0;margin-top:12px;line-height:17px;}
    #gnb > li .submenu_box > ul > li li:first-child {margin-top:12px;}
    #gnb > li .submenu_box > ul > li li a {color:#293233;font-size:16px;}
    #twodepth03 li, #twodepth04 li {min-height:auto !important;margin:0;}
}
@media all and (max-width:768px) {
    #gnb > li .submenu_box > ul > li > a {padding:6px 0;}
    #gnb > li .submenu_box > ul > li li a {font-size:15px;}
}
@media all and (max-width:480px) {
    #gnb > li > a {font-size:15px;}
    #gnb > li .submenu_box > ul > li > a, #gnb > li .submenu_box > ul > li li a {color:#2d4264;font-size:14px;}
    #gnb > li .submenu_box > ul > li li:first-child, #gnb > li .submenu_box > ul > li li {margin-top:10px;}
    #gnb > li .submenu_box > ul > li > a {padding:0;}
    #gnb > li .submenu_box > ul > li li a {font-size:12px;}
}
@media all and (max-width:360px) {
    #incTop2 {width:calc(100% - 40px);}
}
@media all and (max-width:320px) {
    #incTop2 {width:100%;}
}

.searchword {position:absolute;top:40px;left:50%;width:600px;margin-left:-300px;text-align:center;letter-spacing:-1px;}
.searchword span {padding:0 6px;border-left:1px solid #d1dedf;}
.searchword span:first-child {border:0;}
.searchword span a {margin:0;padding:0;color:#666;font-size:13px;}

.searchpart {float:right;display:inline-block;width:14.66%;max-width:220px;margin-top:33px;vertical-align:middle;overflow: hidden;}
.integrationsearch {width:100%;margin:0 auto;}
.integrationsearch form,
.integrationsearch fieldset {margin:0;padding:0;}
#integrationsearch li {float:left;}
#integrationsearch li.label {display:none;}
#integrationsearch li.label label {display:block;width:0px;height:0px;overflow:hidden;}
#integrationsearch li.input {width:calc(100% - 46px);height:28px;padding:0 5px;border:2px solid #676767;border-right:0 none;border-top-left-radius:15px;border-bottom-left-radius:15px;background:#fff;line-height:28px;overflow:hidden;}
#integrationsearch li.input input {width:100%;height:28px;border:0;line-height:28px;vertical-align:top;font-size:16px;}
#integrationsearch li.btn {position:relative;width:32px;height:28px;border:2px solid #676767;border-left:0 none;border-top-right-radius:16px;border-bottom-right-radius:16px;}
#integrationsearch li.btn .btn_search {width:32px;height:32px;margin-left:2px;margin-top:-2px;border:0 none;border-radius:50%;background:#656565 url() 0 0 no-repeat;background-size:contain;vertical-align:top;}
#integrationsearch li.btn .btn_search span {min-width:initial;padding:0;background:none;}

@media all and (max-width:1500px) {
    .searchpart {margin-right:10px;}
}

@media all and (max-width:1200px) {
    .searchpart {position:relative;top:16px;left:inherit;width:auto;max-width:initial;margin-top:0;margin-right:0;overflow:inherit;}
    
    .integrationsearch {float:right;padding:10px 10px 0;width:auto;}
    .searchword {display:none;}
    .m_search_open {display:block !important;}
    .m_search_open a {position:relative;width:25px;height:0;padding-top:30px;display:block;overflow:hidden;}
    .m_search_open a:before {content:"";display:block;position:absolute;top:2px;left:0;width:25px;height:25px;background:url(/kor/images/common/sprite_img01.png) -280px -130px no-repeat;}
    
    #integrationsearch li {}
    #integrationsearch li.input {width:calc(100% - 58px);width:-webkit-calc(100% - 58px);height:32px;line-height:32px;box-sizing:border-box;-webkit-box-sizing:border-box;}
    #integrationsearch li.input input {height:30px;padding:0 10px;font-weight:bold;}
    #integrationsearch li.btn {display:inline-block;width:32px;height:32px;margin-left:-10px;line-height:32px;box-sizing:border-box;-webkit-box-sizing:border-box;}
    
    .searchpart #integrationsearch {display:none;position:absolute;top:0;right:0;}
    .searchpart #integrationsearch.on {top:0;right:10px;display:block;width:calc(100vw - 20px);background-color:#fff; padding:10px 0;}
    .searchpart #integrationsearch.on .close_m_search {display:block !important;margin-left:4px;}
    .searchpart #integrationsearch .close_m_search a {position:relative;display:block;width:32px;height:0;padding-top:32px;overflow:hidden;background:#fff;border-left:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
    .searchpart #integrationsearch .close_m_search a:before {content:"";display:block;width:32px;height:32px;position:absolute;top:0px;left:0;border-radius:50%;background:#cacaca url(/kor/images/common/btn_search_close.png) 0 0 no-repeat;background-size:contain;}
}

/* footer */
.dim{width:100%;height:100%;position:fixed;top:0;left:0;background:#000;opacity:0.5; z-index:1000;display:none;}
#footer {position:relative;width:100%;max-width:1500px;height:236px;margin:0 auto;padding-bottom:20px;}
.footer_left {float:left;width:78%;}
.footer_logo {position:relative;float:left;display:block;width:29.37%;max-width:349px;height:236px;text-align:center;}
.footer_logo img {width:54.6875%;max-width:175px;margin-top:46px;}
.footer_menu {float:left;display:inline-block;width:70.63%;padding-top:45px;padding-bottom:17px;}
.footer_menu li {float:left;padding-bottom:10px;}
.footer_menu li a {position:relative;padding:0 12px;line-height:1em;letter-spacing:-1px;}
.footer_menu li a strong{color:#000; text-decoration: underline;}
.footer_menu li:not(:last-child) a::after {content:"";position:absolute;top:50%;right:0;display:block;width:1px;height:15px;margin-top:-7px;background:#cacaca;}
.footer_menu li:first-child a {border-left:0;}
.footer_bottom {position:relative;float:left;display:inline-block;padding:0 0 0 10px;}
.footer_bottom address {color:#676767;font-size:16px;font-style:normal;line-height:1.6em;}
.footer_right {float:right;width:22%;padding-top:56px;text-align:right;}
.footer_right .open {width:27.27%;max-width:90px;}
.footer_right .wa {width:27.87%;max-width:92px;}
.footer_right a img {line-height:65px;vertical-align:middle;}
.footer_right a {display:inline-block;}
.footer_right a + a {margin-left:29px;margin-right:7px;}

.footer_left::after, .footer_left .footer_menu::after, .footer_left .footer_menu li::after, .footer_bottom::after {content: "";display:table;clear:both;}

/* 콘텐츠 */
#container {position:relative;width:100%;border-bottom:1px solid #d2d7dc;background:url(/kor/images/sub/page_navi_bg.png) repeat-x 0 0;overflow:hidden;}
#container.full {background:none;} /* 메인,검색 페이지 */
#container.full:before {display:none;}
#content {position:relative;width:100%;max-width:1500px;margin:0 auto; padding:0 0 20px 0;}
.contentWrap {position:relative;width:100%;max-width:1200px;margin:0 auto;padding:60px 0;}

#subtop {position:relative;display:inline-block;width:100%;padding-top:54px;}
#subtop h3 {position:relative;margin-top:72px;padding-top:10px;color:#222;font-family:'Noto Sans KR';font-size:37px;font-weight:500;text-align:center;}
#subtop h3::before {content:"";position:absolute;top:0;left:50%;display:block;width:16px;height:1px;margin-left:-8px;background:#000;}

.page_navi {position:absolute;top:0;left:0;display:inline-block;width:100%;border-left:1px solid #d0cfcb;}
.page_navi > li {position:relative;float:left;border-right:1px solid #d0cfcb;font-weight:normal;line-height:53px;box-sizing:border-box;}
.page_navi > li:last-child a.depth_open{text-decoration:underline;}
.page_navi > li:not(:first-child) {width:302px;padding-left:18px;}
.page_navi > li:first-child a {position:relative;display:block;width:66px;height:0;padding-top:54px;overflow:hidden;}
.page_navi > li:first-child a:before {content:''; display:inline-block;position:absolute;top:50%;left:50%;width:21px;height:20px;margin-top:-10px;margin-left:-10px;background:url(/kor/images/common/icon_all2.png) -218px 0 no-repeat;}
.page_navi > li a {display:block;color:#333;font-size:17px; font-weight:500;}
.page_navi > li a:hover, .page_navi > li a:active {text-decoration:none;}
#depthSwiper {display:none;} /* 모바일에서만 보임 */

.depth_open {position:relative;}
.depth_open::after {content:'';position:absolute;left:calc(100% - 25px);top:50%;display:inline-block;width:10px;height:5px;background:url(/kor/images/common/icon_all2.png) 0 -320px no-repeat;}
.depth_open.on::after {content:''; background:url(/kor/images/common/icon_all2.png) -10px -320px no-repeat;}
.depth_open + .deph_menu {display:none;}
.depth_open.on + .deph_menu {display:block !important;}
.depth_open.no_opt {cursor:default;}
.depth_open.no_opt::after, .depth_open.on.no_opt::after {background:none;}

.deph_menu {position:absolute;top:53px;left:-1px;z-index:20;width:100%;border-left:1px solid #d0cfcb;border-right:1px solid #d0cfcb;background:#f7f7f7;box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.12);-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.12);-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.12);}
.deph_menu li {line-height:50px;border-bottom:1px solid #d0cfcb;font-weight:normal;letter-spacing:-1px;position:relative;}
.deph_menu li > a {display:block;padding:13px 18px 12px;line-height:1.4em !important;}
.deph_menu li a:hover {background-color:#dde1e7;}
.deph_menu li a.on {background-color:#4f6280;color:#fff;}
.deph_menu li a.on:after{content:"";display:block;width:5px;height:10px;position:absolute; top:19px; left:0; background:url(/kor/images/common/icon_all.png) -248px -245px no-repeat;}
.deph_menu li a.new:after {content:"";display:inline-block;margin-left:10px;width:12px;height:12px;background:url(/kor/images/common/ico_newwin.png) 0 0 no-repeat}

@media all and (max-width:1200px) {
    .contentWrap {width:calc(100% - 20px);margin:0 auto;box-sizing:border-box;}
    .page_navi > li:not(:first-child) {width:248px;padding-left:0;}
    .page_navi > li:not(:first-child) > a {padding:0 30px 0 18px;}
    .page_navi .depth_open.no_opt {padding-right:18px;}
}

@media all and (max-width:768px) {
    #container {width:100%;margin:0;background-image:url(/kor/images/sub/page_navi_bg_m.png);}
    #content {float:none;width:100%;padding:0;min-height:500px}
    #content .page_navi {z-index:10;width:100%;height:40px;line-height:40px;}
    #content.pc {display:none;}

    .contentWrap {width:100%;padding:0 10px 30px;box-sizing:border-box;}
    .popWrap .contentWrap {padding:0;}

    #subtop {padding:80px 0 0;}
    #subtop h3 {float:none;padding:10px 0 25px;margin:32px 10px 0;font-size:26px;line-height:1em;}
    #subtop h3.none_3depth {margin-top:0;}

    .page_navi {border-left:none;}
    .page_navi > li {font-size:14px;line-height:40px;}
    .page_navi > li:before {display:none;}
    .page_navi > li::after {content:"";display:table;clear:both;}
    .page_navi > li:first-child a {margin:0;padding:0;width:40px;padding-top:40px;background:url(/kor/images/menu/m_home.png) 0 12px no-repeat;}
    .page_navi > li:last-child {width:100%;box-sizing:border-box;}
    .page_navi > li:nth-child(2), .page_navi > li:nth-child(3) {width:calc(50% - 21px);}
    .page_navi > li:nth-child(3) {border-right:none;}
    .page_navi > li:nth-child(4) > a {display:none;}
    .page_navi > li a {display:block;padding:12px 18px;font-size:14px;line-height:1em;}
    .page_navi > li .depth_open {padding-left:0;padding-right:38px;}
	.page_navi > li:nth-child(3) .depth_open {text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
	.page_navi > li:not(:first-child) > a {padding:12px 28px 12px 18px;}

    
    .deph_menu {top:39px;border-color:#d0cfcb;}
    .page_navi > li:nth-child(4) .depth_open + .deph_menu {top:-1px;z-index:0;display:block;box-shadow:none;}
    #depthSwiper {display:block;padding:0 32px;}
    #depthSwiper > .swiper-wrapper li {display:inline-block;width:auto !important;border-bottom:none;line-height:40px;}
    #depthSwiper > .swiper-wrapper li a {padding:11px 15px;}
    #depthSwiper > .swiper-wrapper li a.on {background:transparent;color:#4f6280;}
	#depthSwiper > .swiper-wrapper li a.on:after{content:"";position:absolute;top:36px;left:16px;display:block;width:calc(100% - 31px);height:2px;background:#3f559c;}
    #depthSwiper a em {display:inline-block;width:12px;height:0;padding-top:12px;margin-left:5px;background:url(/kor/images/common/ico_newwin.png) no-repeat 0 0;overflow:hidden;}



    #depthSwiper .swiper-button-next, #depthSwiper .swiper-button-prev {display:block;width:30px;height:0;margin:-17px 0 0;padding:36px 0 0;background:#f7f7f7;}
    #depthSwiper .swiper-button-prev, #depthSwiper .swiper-container-rtl .swiper-button-next {left:0;}
    #depthSwiper .swiper-button-next, #depthSwiper .swiper-container-rtl .swiper-button-prev {right:0;}
    #depthSwiper .swiper-button-next:after, #depthSwiper .swiper-button-prev:after {content:"";display:block;position:absolute;top:13px;width:7px;height:7px;border-top:2px solid #646464;border-right:2px solid #646464;}
    #depthSwiper .swiper-button-next:after {left:7px;transform:rotate(45deg)}
    #depthSwiper .swiper-button-prev:after {left:13px;transform:rotate(-135deg)}
}

@media all and (max-width:280px) {
    .page_navi > li:not(:first-child) {padding-left:9px;}
    .page_navi > li:nth-child(2) {width:calc(50% - 28px);}
    .page_navi > li:nth-child(3) {width:calc(50% - 14px);}
    .page_navi > li a {padding:12px 9px;}
    .page_navi > li:not(:first-child) > a {padding-right:18px;letter-spacing:-1px;}
    .depth_open::after {left:calc(100% - 16px);}
}

.scroll_btn {position:fixed;right:15px;bottom:30px;z-index:12;opacity:0;}
.scroll_btn li a {position:relative;display:block;width:41px;height:0;padding-top:41px;border:1px solid #c4c4c4;overflow:hidden;}
.scroll_btn li a:before, .scroll_btn li a:after {content:"";display:block;position:absolute;z-index:1;}
.scroll_btn li a:before {top:0;left:0;width:100%;height:100%;background:#fff;opacity:0.9;filter:alpha(opacity=90);}
.scroll_btn li a:after {top:50%;left:50%;width:18px;height:14px;background:url(/kor/images/common/icon_all.png) 0 -237px no-repeat;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
.scroll_btn li:nth-child(2) {padding-top:8px;}
.scroll_btn li:nth-child(2) a:after {height:10px;background:url() 0 -251px no-repeat;}

@media all and (max-width:1200px) {
    .scroll_btn.on {display:block !important;opacity:1;transition:opacity 1s; -webkit-transition:opacity 1s}
}

/* s: 사이드바 메뉴 */
.sidemenu {position:fixed;top:290px;right:0;z-index:10;display:block;width:50px;border:1px solid #ccc;background:#fff;box-sizing:border-box;}
.sidemenu .sns {display:inline-block;width:100%;border-bottom:1px solid #e0e0e0;list-style-image: url(data:0);}
.sidemenu .sns li {display:inline-block;width:100%;height:36px;}
.sidemenu .sns li:first-child {margin-top:10px;}
.sidemenu .sns li:last-child {margin-bottom:10px;}
.sidemenu .sns li .icon {position:relative;display:block;width:100%;height:36px;}
.sidemenu .sns li .icon span{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}
.sidemenu .sns li .icon::before {content:"";position:absolute;top:50%;left:50%;display:block;background-image:url(/kor/images/common/sprite_img01.png);background-repeat:no-repeat;}
.sidemenu .icon.blog::before {width:36px;height:13px;margin:-6px 0 0 -18px;background-position:0 -200px;}
.sidemenu .icon.facebook::before {width:11px;height:21px;margin:-10px 0 0 -5px;background-position:-40px -200px;}
.sidemenu .icon.twitter::before {width:21px;height:17px;margin:-8px 0 0 -10px;background-position:-80px -200px;}
.sidemenu .icon.youtube::before {width:19px;height:13px;margin:-6px 0 0 -9px;background-position:-120px -200px;}
.sidemenu .icon.kakaotv::before {width:18px;height:18px;margin:-9px 0 0 -9px;background-position:-160px -200px;}
.sidemenu .icon.instagram::before {width:19px;height:19px;margin:-9px 0 0 -9px;background-position:-200px -200px;}
.sidemenu .go_top {position:relative;display:inline-block;width:100%;height:56px;padding-top:22px;background:none;border:0 none;color:#333;font-size:13px;}
.sidemenu .go_top::before {content:"";position:absolute;top:12px;left:50%;display:block;width:11px;height:15px;margin-left:-5px;background:url(/kor/images/common/sprite_img01.png) no-repeat -280px -50px;}

@media all and (max-width:1200px) {
    .sidemenu {display:none;}
}
/* e: 사이드바 메뉴 */

/*------------------------------------------------------------------------------- style giude -------------------------------------------------------------------------------*/

/* 제목 */
[class*="tab"] + [class*="tit"],
[class*="tit"] + [class*="tit"],
[class*="list"] + [class*="tit"],
[class*="tbl-responsive"] + [class*="tit"] {margin-top:30px;}
[class*="line"] + [class*="tit"] {margin-top:0;}

.tit01.line, .tit01_.line {padding:0 0 15px;margin-bottom:25px;border-bottom:1px solid #d1d1d1;font-weight:500;}
.tit01 {padding:0 0 20px;color:#333;font-size:23px;line-height:29px; font-weight:500;}
.tit01_ {padding:0 0 20px;color:#0a6da6;font-size:20px;line-height:25px; font-weight:500;}
.tit01 em {margin-left:10px;padding-left:10px;border-left:1px solid #ccc;color:#555;font-size:16px;font-style:normal;line-height:21px;}
.tit01 .back {float:right;font-size:17px; margin-right:5px;}

.tit02 {position:relative;padding:0 0 15px 20px;color:#333;}
.tit02:before {content:"";position:absolute;top:15px;left:8px;display:block;width:4px;height:4px;margin-top:-6px;background:#3795cc;}

ul.tit02 {padding-left:0;}
ul.tit02:before {display:none;}

.tit02 span {display:inline-block;margin-left:10px;padding-left:10px;border-left:1px solid #bcbcbc;color:#555;font-size:16px;line-height:19px;vertical-align:middle;}
.tit02 > li {position:relative;padding:0 0 10px 20px;}
.tit02 > li:before {content:"";position:absolute;top:9px;left:8px;display:block;width:4px;height:4px;background:#3795cc;vertical-align:middle;}
.tit02 > li.nobl {position:relative;padding:0 0 7px 0;font-size:14px;line-height:22px;}
.tit02 > li.nobl:before {background:none;}
.tit02 > li.nobl > [class*="box"]{margin:20px 0;}

ul.tit02.col2 {width:100%;overflow:hidden;}
ul.tit02.col2 li {float:left;width:45%;line-height:1.6em}

.tit02.type2:before {background:#e77032}
.tit02.type2 em {margin-left:10px;padding-left:10px;font-size:13px;line-height:16px;color:#c2551d;font-style:normal;border-left:1px solid #e77032}
.tit02.f_s span {margin:0;padding:0;font-weight:normal;border:0;}
.tit02.line {padding: 0 0 15px 20px;margin-bottom:25px;border-bottom:1px solid #d1d1d1;}

.tit03 {position:relative;padding:0 0 10px 20px;font-size:18px;color:#0a6da6;}
.tit03:before {content:"";display:block;position:absolute;top:7px;left:1px;vertical-align:middle;width:13px;height:13px;background:url(/kor/images/sub/ico.png) -373px 0 no-repeat;z-index:10;}

.tit03.line {padding: 0 0 15px 20px;margin-bottom:20px;border-bottom:1px solid #d1d1d1}
.tit03.type2 {color:#333;}
.tit03.type2:before {background:url(/kor/images/sub/ico.png) -386px 0 no-repeat;}

ul.tit03, ol.tit03 {padding:0;}
ul.tit03:before, ol.tit03:before {display:none;}

.tit03 em {margin-left:10px;padding-left:10px;font-size:12px;line-height:21px;color:#555;font-style:normal;border-left:1px solid #ccc}
.tit03 > li {position:relative;padding:0 0 20px 21px;font-weight:normal}
.tit03 > li:before {content:"";display:block;position:absolute;top:7px;left:1px;vertical-align:middle;width:13px;height:13px;background:url(/kor/images/sub/ico.png) -373px 0 no-repeat;z-index:10;}
.tit03.type2 > li:before {background:url(/kor/images/sub/ico.png) -386px 0 no-repeat;}
/*나의정보 */


.tit04{position:relative;padding:0 0 10px 0;color:#0a6da6 ;}

/* 목록 */
[class*="list"] > li {line-height:25px;padding:0 0 10px;}
/* 2020 [class*="list"] > li li {padding-bottom:0}*/

.list01 > li, p.list01 {position:relative;padding-left:20px}
.list01 > li:before, p.list01:before {content:"";display:block;position:absolute;top:15px;left:9px;vertical-align:middle;width:3px;height:3px;background:#bfbfbf}
.list01.type2 li:before, .list01.type2:before {background:#0a6da6}
p.list01:before {top:9px}
.list01.type2 > li {font-weight:500;}
.list01.type2.normal > li, .list01.type2 > li li {font-weight:normal}

.list02 > li, p.list02 {position:relative;padding-left:20px;}
.list02 > li:before, p.list02:before {content:"";display:block;position:absolute;top:21px;left:5px;width:2px;height:2px;background:#8f8f8f}
.list02 > li.blno:before{background:none;}
p.list02:before {top:8px;}
.list02.col3 {overflow:hidden;width:100%;}
.list02.col3 > li {width:33%;float:left;box-sizing:border-box; -webkit-box-sizing:border-box;}

.list01 > li {padding:5px 0 15px 20px}
.list02 > li {padding:10px 0 5px 14px}
.list03 > li, .box01 > .list03 > li, p.list03 {padding-bottom:8px;}
p.list03 {line-height:25px;}

.list04 > li {position:relative;padding:0 0 10px 13px;}
.list04 > li:before {content:"";display:block;width:5px;height:1px;background:#555;position:absolute;top:12px;left:0;}
.list04 > li > ul {padding:0 0 10px}
li .list04, li .list03  {padding-top:12px;}
.list04.mart7 > li{margin-top:7px;}

/* 20210720 */ 
ol.list05 li {padding: 0 0 7px 20px; text-indent: -20px;}

.tbl-type01.type01-1 td .list01 > li > ul {padding-top:5px;}

@media all and (max-width:1200px) {
    .list03 > li, .box01 > .list03 > li, .list03 {padding-bottom:0px;}
}

@media all and (max-width:768px) {
    [class*="list"] > li {line-height:29px;padding:0 0 10px;}

    [class*="tab"] + [class*="tit"],
    [class*="tit"] + [class*="tit"],
    [class*="list"] + [class*="tit"],
    [class*="tbl-responsive"] + [class*="tit"],
    [class*="box"] + [class*="tit"] {margin-top:20px;}
    [class*="list"] > li {line-height:23px;font-size:14px;}

    .tit01, .tit01_ {padding:0 0 10px;font-size:17px;}
    .tit01:before {width:5px;height:5px;}
    .tit01 em {font-size:13px;}

    .tit02 {padding:0 0 10px 16px;font-size:14px;line-height:20px;}
    p.list02:before {top:8px;left:4px;}
    .list02 > li:before {top:14px;left:4px;}
    .tit02.line {margin-bottom:10px;}
    .tit02 > li {font-size:14px;line-height:21px}
    .tit03 {font-size:14px;}
    .tit03.line {padding:0 0 10px 20px;margin-bottom:15px;}
    .tit03:before {top:3px;left:0;}
    .list01 > li, p.list01, .list02 > li, p.list02 {padding:5px 0 0 16px;}

    .list01 > li:before, p.list01:before {top:14px;left:4px;}
    .list03 > li, .box01 > .list03 > li, .list03 {padding-bottom:5px;}
    .list04 > li {padding:0 0 5px 13px;}
    .list04 > li:before {top:10px;}
    li .list04 {padding-top:5px;}
	.tit01 .back {font-size:14px; }
	mediaWrap.col2 li .list04, li .list03  {padding-top:0px;} /*20201228*/
	.tit03 > li:before {content:"";display:block;position:absolute;top:3px;left:1px;}/*20201230_웹접근성*/
}

@media all and (max-width:480px) {
    .list02.col3 > li {width:50%;}
    .tit02.type2 em {font-size:13px}
}